DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
DB_NAME=YOUR_DB_NAME

EMAIL_USER=aimedivision@gmail.com
EMAIL_PASS=EMAIL_PASSWORD_HERE

JWT_SECRET=YOUR_JWT_SECRET
NEXT_PUBLIC_BASE_URL=http://localhost:3000
OPENAI_API_KEY=YOUR_OPENAI_API_KEY